/*
 *页面左部
 */
.column-l{
	float:left;
	width:232px;
	position: relative;
	z-index: 2;
}
/*
 *页面右部
 */
.column-r{
	float:right;
	width:716px;
	position: relative;
	z-index: 1;
}
/*全部分类*/
.all-cate-column{
	margin-top: 10px;
}
.all-cate-column h3 {
    background: #EFEFEF;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    color: #333333;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 12px;
}
.all-cate-column h3 a{
	color:#666;
}
.mod-cate{
	background:#fff;
	border: 1px solid #dbdbdb;
	min-height:358px;
	position:relative;
}
.cate-loading{
	position: absolute;
	top: 130px;
	left: 93px;
	display: block;
	width: 45px;
	height: 45px;
	background: url(../images/node/loading.gif) no-repeat;
}
.mod-cate li{
	position: relative;
	border-bottom:1px solid #eee;
}
.mod-cate li:last-child{
	border-bottom: none;
}
.mod-cate li .name-wrap{
	position:relative;
	height:39px;
}
.mod-cate li .name-column{
	height:23px;
	padding:8px 0;
	position:relative;
	padding-left:2px;
	z-index:999;
}
.mod-cate li .name-column.on{
	height:23px;
	padding:6px 0;
	border-top:2px solid #dbdbdb;
	border-left:2px solid #dbdbdb;
	border-bottom:2px solid #dbdbdb;
	padding-left:0;
	background:#f8f8f8;
	position:relative;
}
.mod-cate li .name-column h4{
	line-height:23px;
	margin-left: 10px;
	padding-left: 20px;
	background: url(../images/node/cate_sprites.png) no-repeat;
}
.mod-cate li .name-column h4.s1{
	background-position: 0 6px;
}
.mod-cate li .name-column h4.s2{
	background-position: 0 -24px;
}
.mod-cate li .name-column h4.s3{
	background-position: 0 -54px;
}
.mod-cate li .name-column h4.s4{
	background-position: 0 -84px;
}
.mod-cate li .name-column h4.s5{
	background-position: 0 -114px;
}
.mod-cate li .name-column h4.s6{
	background-position: 0 -144px;
}
.mod-cate li .name-column h4.s7{
	background-position: 0 -174px;
}
.mod-cate li .name-column h4.s8{
	background-position: 0 -204px;
}
.mod-cate li .name-column h4.s9{
	background-position: 0 -234px;
}
.mod-cate li .name-column h4 a{
	font-size:14px;
	font-weight:normal;
	color:#333;
	display:inline-block;
	font-weight: bold;

}
.mod-cate li i.arrow{
	position:absolute;
	top:12px;
	right:10px;
	display:block;
	width:8px;
	height:11px;
	background:url(../images/node/arrow.png) 0 0 no-repeat;	
}
.mod-sub-cate{
	display:none;
	position:absolute;
	top:-33px;
	left:228px;
	width:655px;
	min-height:120px;
	background:#f8f8f8;
	border:2px solid #dbdbdb;
	z-index:998;
}
.mod-sub-cate dl{
	float: left;
	width: 198px;
	height: 100px;
	margin:10px;
}
.mod-sub-cate dl dt{
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 4px;
	line-height: 1.2em;
}
.mod-sub-cate dl dt a{
	color: #606;	
}
.mod-sub-cate dl dd{
	height: 22px;
	line-height: 22px;
}
.mod-sub-cate dl dd a{
	color: #808080;
}
/*
 *行业新闻
 */
.column-news{
	margin-top: 15px;
	border: 1px solid #dcdcdc;
	overflow:hidden;	
}
.column-news .hd{
	height: 30px;
	background: #efefef;
	padding: 0 0 0 12px;
	border-bottom: 1px solid #dcdcdc;
}
.column-news .hd h3{
	float: left;
	display: inline;
	font-size:14px;
	line-height: 30px;
	color:#333;
}
.column-news .hd .more{
	float: right;
	padding-right: 6px;
	color: #666;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
}
.column-news .hd .more a{
	color: #666;
}
.column-news .list{
	background:#fff;
}
.column-news .list li{
	width: 180px;
	height:12px;
	line-height:12px;
	padding: 12px 10px 12px 30px;
	background: url(../images/node/num_sprites.png) no-repeat;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.column-news .list li.s1{
	background-position: 10px 12px;
}
.column-news .list li.s2{
	background-position: 10px -20px;
}
.column-news .list li.s3{
	background-position: 10px -52px;
}
.column-news .list li.s4{
	background-position: 10px -84px;
}
.column-news .list li.s5{
	background-position: 10px -116px;
}
.column-news .list li a{
	color:#666;
}
/*
 *行业机构TOP10
 */
.column-org{
	margin-top: 15px;
	border: 1px solid #dcdcdc;
	overflow:hidden;	
}
.column-org h3{
	font-size:14px;
	height: 30px;
	line-height: 30px;
	color:#333;
	background: #efefef;
	padding: 0 0 0 12px;
	border-bottom: 1px solid #dcdcdc;
}
.column-org .list{
	background:#fff;
	overflow:hidden;
}
.column-org .list li{
	height: 36px;
	padding: 15px 10px;
	border-bottom: 1px solid #dcdcdc;
}
.column-org .list li:last-child{
	border-bottom: none;
}
.column-org .list li .pic{
	float: left;
	width: 36px;
	height: 100%;
}
.column-org .list li .intro{
	margin-left: 48px;
}
.column-org .list li .intro h5{
	line-height: 1.5em;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.column-org .list li .intro h5 a{
	color: #333;font-weight:400;
}
.column-org .list li .intro p{
	color: #666;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}