@charset "utf-8";
/*  
*@Description: public reset css  
*@Author: Roger Xia  
*@Update: Roger Xia(2012-11-23 15:26)  
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ fieldset, lengend, button, input, textarea, /* form elements 表单元素 */ th, td { /* table elements 表格元素 */
	margin: 0;
	padding: 0;
}
/* 设置默认字体 */
body, button, input, select, textarea { /* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
body{
	background:#f4f4f4;
}
p {
	line-height:1.5em;
}
h1 {
	font-size: 18px; /* 18px / 12px = 1.5 */
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4, h5, h6 {
	font-size: 100%;
}
address, cite, dfn, em, var {
	font-style: normal;
} /* 将斜体扶正 */
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace;
} /* 统一等宽字体 */
small {
	font-size: 12px;
} /* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
	list-style: none;
}
/* 重置文本格式元素 */
a {
	text-decoration: none;
}
a:focus {
     outline:none;
     -moz-outline:none;
}
abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}
q:before, q:after {
	content: '';
}
/* 重置表单元素 */
legend {
	color: #000;
} /* for ie6 */
fieldset, img {
	border: none;
} /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 重置 hr */
hr {
	border: none;
	height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
	overflow-y: scroll;
}
.clearer{
	clear:both;
	width:100%;
	height:0;
}
.hide {
	display:none;
}
.wrap{
	position:relative;
	width:958px;
	margin:0 auto;
	height:auto;
	padding-bottom:46px;
}
.wraper{
	position:relative;
	width:960px;
	margin:0 auto;
	height:auto;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	display:block;
	overflow:hidden;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
/*
 *重用代码
 */
.header .top, .header .bottom{
	margin:0 auto;
	width:960px;	
}
/*
 * 页眉框架
 */
/*
 *页眉
 */
.header{
	width:100%;
	background: #fff;
	box-shadow: 0 2px 2px #e2e2e2;
	position: relative;
	z-index:3;
}
.top-toolbar{
	height: 28px;
	line-height: 28px;
	background: #eeeeee;
	border-bottom: 1px solid #d6d6d6;
}
.login-panel{
	position:absolute;right:0;top:0;
	text-align: right;
	color: #666;
}
.login-panel a{
	color: #666;
}
.login-panel a:hover{
	color:#606;text-decoration:underline;
}
.top-container{
	width: 960px;
	height: 94px;
	margin:0 auto;
}
.top-nav{
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: #f0f0f0;
}
.logo{
	float:left;
	padding-top: 30px;
	width:160px;
	height:45px;	
}
.logo h1{
	/* background:url(../../images/main/logo.png) no-repeat;	 */
}
.logo h1 a{
	display:block;
	width:160px;
	height:45px;
}
ul.topNav{
	float:left;
}
ul.topNav li{
	float:left;padding:0 8px;position:relative;z-index:100;
}
ul.topNav li a{
	color:#666;
}
ul.topNav li:hover{
	background:#fff;
}
ul.topNav li .arror-d{
	width:6px;height:9px;display:inline-block;
	background:url(../images/main/arrow_b.png) no-repeat;
}
ul.topNav li:hover .sub-nav.on{
	display:block;
}
ul.topNav li span{
	display:inline-block;width:11px;height:7px;background:url("../images/main/arrow_b.png") no-repeat;
}
ul.topNav li ul{
	display:none;position:absolute;top:28px;background:#fff;border:1px solid #ddd;border-top:none;
	z-index:99;width:90px;left:-1px;
}
ul.topNav li:hover ul{display:block;}
ul.topNav li ul li{
	height:25px;line-height:25px;
}
ul.topNav li ul li a{
	display:block;
}
ul.topNav li ul li:hover{
	background:#eee;
}
ul.topNav li ul li:hover a{
	color:#606;
}
ul.topNav li ul li{float:none;}
/**/
.choose-window{
	float:left;width:400px;height:94px;
}
.logod{float:left;}
.logod img{vertical-align:middle;
	margin-top:22px;
}
.chooses{float:left;padding-top:22px;position:relative;z-index:1000}
.chooses .drop-arror{
	width:30px;height:30px;background:url(../images/arror-down.png) no-repeat center center;
	cursor:pointer;border:1px solid transparent;border-bottom:none;z-index:1000;
}
.chooses .drop-arror:hover{
	background-color:#EEEEEE;border:1px solid #D6D6D6;border-bottom:none;
}
 .drop-window-name{
 	display:none;
 	width:90px;z-index:999;
 	background:#EEEEEE;
 	border:1px solid #D6D6D6;left:-60px;border-top:none;
 	position:absolute;
 	top:50px;
 	padding:10px 0;
 }
 .drop-window-name li{
 	text-indent:15px;line-height:24px;
 }
 .drop-window-name li:hover,.drop-window-name li.current{
 	background:#fff;font-weight:600;
 }
 .drop-window-name li a{
 color:#660066;display:block;
 }
/*搜索框*/
.search-box{
	float: right;
	width: 556px;
	height: 35px;
	padding: 38px 0 0 0;
	position: relative;
	z-index: 3;
}
.search-box .selected{
	float: left;
	width: 62px;
	height: 35px;
	background: #dadada;
	font-size: 14px;
}
.search-box .selected-choose{
	display: block;
	width: 53px;
	padding-left:10px;
	line-height: 35px;
	color: #666;
}
.search-box .arrow{
	float: right;
	padding-right: 10px;
	display: block;
	margin-top:14px;
	width: 9px;
	height: 6px;
	background: url(../images/main/arrow_b.png) no-repeat;
}
.select-list{
	display: none;
	box-shadow: 2px 2px 2px #333;
}
.select-list li{
	line-height: 26px;
	height: 26px;
	background: #fff;
	border: 1px solid #d7cfd9;
	margin-top: -1px;
}
.select-list li a{
	display: block;
	padding: 0 10px;
	color: #666666;
}
.select-list li a:hover{
	background: #dadada;
}
.search-box .controls{
	float: left;
	width: 494px;
	height: 35px;
}
.search-box .controls .text{
	float: left;
	padding: 0 10px;
	width: 380px;
	border:1px solid #dadada;
	height: 33px;
	line-height: 33px;
	color: #999999;
	font-size: 14px;
}
.search-box .controls .button{
	border: 0;
	float: left;
	width: 92px;
	height:35px;
	line-height: 35px;
	cursor: pointer;
	background: url(../images/main/search_btn.gif) no-repeat;
}
/*menuNav*/
.menu-panel{
	height:38px;background:url(../images/menuNav-bg.png) repeat-x left top;
}
ul.menuNav li{
	float:left;line-height:35px;padding:0 20px;height:35px;position:relative;
	border-top:1px solid transprent;
}
ul.menuNav li a{
	color:#fff;font-size:14px;font-family:microsoft yahei;
}
ul.menuNav li.current,ul.menuNav > li:hover{
	border-top:1px solid #ccc;
	display:block;
	background:#fff;
}
ul.menuNav li.current a,ul.menuNav li:hover a{
	color:#606;
}
ul.menuNav .sub-nav{
	display:none;
	position:absolute;
	width:110px;
	background:#fff;
	top:35px;
	left:0px;
	box-shadow:2px 2px 2px #333333
}
ul.menuNav li:hover .sub-nav{
	display:block;
}
ul.menuNav .sub-nav li{
	float:none;height:30px;line-height:30px;
	padding:0 0 0 18px;
}
ul.menuNav .sub-nav li:hover{
	background:#660066;
}
ul.menuNav .sub-nav li:hover a{
	color:#fff;
}
ul.menuNav .sub-nav li a{
	color:#666;font-size:12px;display:block;height:30px;
}
/*
 *登陆注册
 */
.member-action {
	float:right;
	font-size:14px;
	padding-top:10px;
}
.member-action a {
	color:#333;
	display:inline-block;
	padding:0 10px;
}
/*
 *分页样式
 */
.plist{
	text-align:center;
	height:24px;
	padding:20px 0;
}
.plist a{
	display:inline-block;
	height:24px;
	line-height:24px;
	padding:0 10px;
	background:#fff;
	color:#666;
	margin:0 3px;
}
.plist a.on{
	background:#606;
	color:#fff;
}
.plist a.on{
	background:#606;
	color:#fff;
}
/*
 *页脚
 */
.footer{
	clear:both;
	padding-top:34px;
	height:100px;
	background:#fff;
	border-top:1px solid #eaeaea;	
}
.footer p{
	text-align:center;	
}
.footer p.s1{
	color:#666;	
}
.footer p.s2{
	color:#999;	
}
/* 频道配置header头部的小图标(上移) */
.tasks-ascending-column-header .x-column-header-text {
    background-image: url("../../jsLib/extjs/resources/themes/icons/ascending.png");
}
/* 频道配置header头部的小图标(下移移) */
.tasks-descending-column-header .x-column-header-text {
    background-image: url("../../jsLib/extjs/resources/themes/icons/descending.png");
}
/* 频道配置header头部的小图标背景色的配置 */
.tasks-icon-column-header .x-column-header-text {
    background-position: 0 3px;
    background-repeat: no-repeat;
    display: block;
    margin: -1px -10px -2px -7px;
    padding: 2px;
}
.mouseShape {
	cursor: default;
}
/************服务评价的星星图标************/
.star .meta-star{
	margin: 4px 0 0 0;
	display: inline-block;
	width: 102px;
	height: 17px;
	background: url(../images/main/sprites_star.png) no-repeat;
}
.star .level-0{
	background-position:0 0;
}
.star .level-1{
	background-position:0 -30px;
}
.star .level-2{
	background-position:0 -60px;
}
.star .level-3{
	background-position:0 -90px;
}
.star.level-4{
	background-position:0 -120px;
}
.star .level-5{
	background-position:0 -150px;
}
/************end服务评价的星星图标************/