.crumb-nav{
	margin-top: 12px;
	height: 32px;
	line-height: 32px;
	color: #999;
}
.crumb-nav .current{
	color: #666;
}
.mt16{
	margin-top: 16px;
}

/*
 *新闻列表左侧
 */
.column{
	float: left;
	width: 736px;
}
.news-row{
	padding: 24px 0 0 0;
}
.news-row-h h2{
	float: left;
	font-size: 16px;
}
.news-row-h h2 a{
	color: #666;
}
.news-row-h .date{
	float: right;
	color: #999;
	
}
.news-row-c{
	clear: both;
	overflow: hidden;
	padding: 20px 0 24px 0;
	border-bottom: 1px solid #dddddd;
}
.news-thumb{
	float: left;
	width: 160px;
	height: 120px;
	margin-right: 20px;
}
.news-des{
	color: #999;
}
.news-des p{
	line-height: 22px;
}
.news-des p.more{
	text-align: right;
}
.news-des p.more a{
	color: #660066;
}
.box-thumb{
	margin:5px; position:relative;
	overflow:hidden;min-height:22px;
}
.box-thumb img{
	width:180px;
	height:80px;
}
.box-thumb h4{
	background:url(../../images/main/login_form.png) repeat;
	height:22px;display:block;
	position:absolute;bottom:0;left:0;right:0;line-height:22px;font-weight:normal;
	color:#fff;padding-left:10px;
}
/*
 *新闻详情左侧
 */
.ar-h1{
	font-size: 16px;
	color: #666;
	padding: 18px 0 12px 0;
	text-align: center;
}
.ar-info{
	text-align: center;
	color: #999;
}
.ar-date{
	padding-left: 24px;
}
.ar-content{
	padding-top: 24px;
	color: #666;
}
.ar-content p{
	text-indent: 2em;
	font-size: 14px;
	margin: 20px 0;
	line-height: 24px;
}
/*
 *右侧内容
 */
.aside{
	float: right;
	width: 192px;
}
.column-box{
	border:1px solid #d9d9d9;
	background: #fff;
}
.column-box-head{
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	font-weight: normal;
	font-family: "微软雅黑";
	background: #d9d9d9;
	color: #666;
	padding: 0 10px;
}
.box-thumb{

}
.box-list{
	padding: 6px 0;
}
.box-list li{
	line-height: 22px;
	padding: 0 10px;
}
.box-list li a{
	color: #666;
}