/**
*订单管理css xuwf 2013-9-7
*/
#serach_form{
		width:750px;
		height:85px;
	}
	#serach_form div{
		margin-top:5px;
	}
	.c_orderNo{
		float:left;
		width:240px;
	}
	.c_buyer{
		float:left;
		width:210px;
	}
	.c_orderStatus{
		float:left;
		width:270px;
	}
	.c_orderTime{
		float:left;
		width:460px;
	}
	.c_submit{
		float:left;
		width:200px;
	}
	.c_appeal_serch{
		margin:10px 0px 0px 75px;
		padding-top:10px;
	}
	#win #confirm{
		width:320px;
		height:300px;
		text-algin:center;
		align:center;
		margin-top:10px;
		margin-left:32px;
	}
	#win table{
		width:380px;
		height:280px;
		text-align:center;	
		line-height:25px;	
	}
	#win #confirm content{
		width:250px;
		height:20px;
		line-height:25px;
	}
	#confirm .t_price{
		height:20px;
		width:160px;
		border:1px solid green;
		margin:5px;
	}
	#confirm .t_buyerRemark{
		height:60px;
		width:250px;
		margin:3px 0px;
	}
	#confirm .t_remark{
		width:250px;
		height:160px;
		margin:3px 0px;
	}
	
	#close{
		width:320px;
		height:300px;
		text-algin:center;
		align:center;
		margin-top:10px;
		margin-left:32px;
	}
	#dealEndWin table{
		width:380px;
		height:280px;
		text-align:center;	
		line-height:25px;	
	}
	#close content{
		width:250px;
		height:20px;
		line-height:25px;
	}
	#close .t_remark{
		width:250px;
		height:160px;
		margin:3px 0px;
	}
	
	
	#appealWin #appeal{
		width:320px;
		height:300px;
		text-algin:center;
		align:center;
		margin-top:10px;
		margin-left:32px;
	}
	#appealWin table{
		width:380px;
		height:280px;
		text-align:center;	
		line-height:25px;	
	}
	#appealWin #appeal content{
		width:250px;
		height:20px;
		line-height:25px;
	}
	
	#appeal .t_remark{
		width:250px;
		height:160px;
		margin:3px 0px;
	}